.main{
    background-color: aqua;
    color: black;
    margin: 30px 30px;
    padding: 40px;
    width: 80%;
    border-radius: 4rem;
}
.inputData{
    display: flex;
    justify-content: center;
   align-items: center;
}
/* .info{
   width: 50%;
   display: flex;

} */
.location{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp{
    display: flex;
    justify-content: center;
}
.tempmin_max{
    display: flex;
    justify-content: center;
}

